
<div class="alert alert-success">Do you want to visit new places?</div>

<!--<img src="time-to-travel.jpg" style="justify-content: flex-end">-->
<div class="media">
    <img src="time-to-travel.jpg" class="mr-3" alt="...">
    <div class="media-body">
        <a href="/ticket" class="ticket badge badge-primary">Go for a ticket!</a>
    </div>
</div>
